.show-x {
  animation: showContentX 900ms linear;
}

@keyframes showContentX {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.anim-alert {
  animation: showAlert 500ms linear;
}
@keyframes showAlert {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
